{% extends 'base.html.twig' %}

{% block title %}<title>Créer une catégorie</title>{% endblock %}

{% block body %}
    <h1 class="productTitle">Creer une catégorie</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
