@import "~bootstrap/scss/bootstrap";
@import "allproduct.scss";
@import "login.scss";
@import "product.scss";
@import "admin.scss";


*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
html, body {
    height: 100%;
   padding: 0;
}
body {
    display : table;
    width: 100%;

}
.header {
    background-color: gainsboro;
}
.allContent {
    margin-bottom: 400px ;


}
h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px #d4d4d4;


}
footer {
    display : table-row;


}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h2,
h3,
a {
    color: #34495e;
    text-decoration: none;
}


.logo {
    margin: 0;
    font-size: 1.45em;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color: gainsboro;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.buttonLogin {
    background-color: white;
    border: 8px solid gainsboro;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    margin-left: 43%;
    margin-top: 10px;
}
.title {
    font: 60px "Liberation Mono";
    color: white;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px #232323;


}

.blockTitle {
    background-color: #5eb5e0;
    width: 100%;
    height: 140px;
    margin: 0;
    opacity: 80%;

}
.carouselText {

    margin-top: 50px;

}



$carousel-height: 700px;




.carouselText {
    height: $carousel-height;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    &:hover .controls {
        opacity: 1;
    }

    .controls {
        opacity: 0;
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        justify-content: space-between;
        width: 100%;
        z-index: 99999;
        transition: all ease 0.5s;

        .control {
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
            opacity: .5;
            transition: ease .3s;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    .slidesText {
        position: absolute;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        height: 0;
        transition: 1s ease-in-out all;

        .slideText {
            width: 100%;
            min-height: $carousel-height;
            height: auto;
        }
    }
}


.site-footer [class^=col-]
{
    margin-bottom:30px
}

.site-footer
{
    background-color:#5eb5e0;
    font-size:15px;
    line-height:24px;
    color:black;
}
.site-footer
{
    padding-bottom:0
}
 .site-footer .copyright-text,.site-footer .social-icons
 {
     text-align:center
 }



.social-icons li.title
{
    display:block;
    margin-right:0;
    font-weight:600
}
h6 {
    color: white;
}

textarea.form-control {

    height: 400px;
}

form.filter {
    text-align: center;

}
form.filter {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 60px;
}

.buttonLogout {
    background-color: white;
    border: 10px solid #5eb5e0;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin-left: 42%;
}

.nameUser {
    word-break: break-all;
    margin-left: 42%;
}

.welcomeText {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    text-align: center;
}

.welcomeTitle {
    padding: 25px;
}






/* =================================
  Media Queries
==================================== */



@media screen and (min-width: 1025px) {
    .header,
    .main-nav {
        background-color: gainsboro;
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header{
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    .buttonLogin {
        background-color: white;
        border: 8px solid gainsboro;
        border-radius: 5px;
        text-align: center;
        margin-left: 80%;
        width: 130px;
    }


    .buttonLogout {
        background-color: white;
        border: 10px solid #5eb5e0;
        border-radius: 5px;
        width: 150px;
        text-align: center;
        margin-left: 85%;
    }

    .site-footer
    {
        background-color:#5eb5e0;
        padding:45px 0 20px;
        font-size:15px;
        line-height:24px;
        color: black;
    }
    .site-footer hr
    {
        border-top-color:white;
        opacity:0.5
    }
    .site-footer hr.small
    {
        margin:20px 0
    }
    .site-footer h6
    {
        color:#fff;
        font-size:16px;
        text-transform:uppercase;
        margin-top:5px;
        letter-spacing:2px
    }
    .site-footer a
    {
        color:white;
    }
    .site-footer a:hover
    {
        color:#3366cc;
        text-decoration:none;
    }
    .footer-links
    {
        padding-left:0;
        list-style:none
    }
    .footer-links li
    {
        display:block
    }
    .footer-links a
    {
        color:white;
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover
    {
        color:#3366cc;
        text-decoration:none;
    }
    .footer-links.inline li
    {
        display:inline-block
    }
    .copyright-text
    {
        margin:0
    }
    .nameUser {
        word-break: break-all;
        margin-left: 85%;
    }

}




* {
    margin: 0;
}

