{% extends 'base.html.twig' %}

{% block title %}<title>Editer un produit</title>{% endblock %}

{% block body %}
    <h2 class="productTitle">Editer un produit</h2>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="deleteProduct">{{ include('product/_delete_form.html.twig') }}</div>
{% endblock %}
