{{ form_start(form, {attr: {class: 'filter'}}) }}

{{ form_row(form.q) }}

<h4>Category</h4>
{{ form_row(form.category) }}
<button type="submit" class="btn btn-primary w-50">Filtrer</button>

{{ form_end(form) }}



