
{{ form_start(form, {attr: {class: 'filter'}}) }}

{{ form_row(form.q) }}


<section class="accordion">Filtrer par catégories</section>
<div class="panel">
 <div class="category">
  <div class="formCategory">{{ form_row(form.category) }}</div>
 </div>
 <button type="submit" class="buttonFilter btn btn-primary w-25">Filtrer</button>
</div>



{{ form_end(form) }}
