{% extends 'base.html.twig' %}

{% block title %}<title>Créer un produit</title>{% endblock %}
{% block body %}

    <h1 class="productTitle">Creer un nouveau produit</h1>
    {{ include('product/_form.html.twig') }}
{% endblock %}
